<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32942490702-q1kb7obacfo9do024m5dns1u2ts5evj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32942490702-q1kb7obacfo9do024m5dns1u2ts5evj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32942490702-0sn8rvghtvm55hoqh56trviml0h30vrk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQGyTH8_pFDbJUrGoWWw-murKb9VfKZzE</string>
	<key>GCM_SENDER_ID</key>
	<string>32942490702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accompaniBloc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>accompani-app</string>
	<key>STORAGE_BUCKET</key>
	<string>accompani-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32942490702:ios:91d9542999bf2ecbaa2f1f</string>
</dict>
</plist>